<div id="<%= dom_id a_atleta %>">
  <p>
    <strong>Nome:</strong>
    <%= a_atleta.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= a_atleta.cpf %>
  </p>

  <p>
    <strong>Data nascimento:</strong>
    <%= a_atleta.data_nascimento %>
  </p>

  <p>
    <strong>Contato1:</strong>
    <%= a_atleta.contato1 %>
  </p>

  <p>
    <strong>Contato2:</strong>
    <%= a_atleta.contato2 %>
  </p>

  <p>
    <strong>Nacionalidade:</strong>
    <%= a_atleta.nacionalidade %>
  </p>

  <p>
    <strong>Nome pai:</strong>
    <%= a_atleta.nome_pai %>
  </p>

  <p>
    <strong>Nome mae:</strong>
    <%= a_atleta.nome_mae %>
  </p>

  <p>
    <strong>Responsavel nome:</strong>
    <%= a_atleta.responsavel_nome %>
  </p>

  <p>
    <strong>Responsavel cpf:</strong>
    <%= a_atleta.responsavel_cpf %>
  </p>

  <p>
    <strong>Responsavel rg:</strong>
    <%= a_atleta.responsavel_rg %>
  </p>

  <p>
    <strong>Responsavel orientacao:</strong>
    <%= a_atleta.responsavel_orientacao %>
  </p>

  <p>
    <strong>Portador necessidade:</strong>
    <%= a_atleta.portador_necessidade %>
  </p>

  <p>
    <strong>Descricao necessidade:</strong>
    <%= a_atleta.descricao_necessidade %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= a_atleta.cep %>
  </p>

  <p>
    <strong>Rua:</strong>
    <%= a_atleta.rua %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= a_atleta.bairro %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= a_atleta.numero %>
  </p>

  <p>
    <strong>Complemento:</strong>
    <%= a_atleta.complemento %>
  </p>

  <p>
    <strong>G estado:</strong>
    <%= a_atleta.g_estado_id %>
  </p>

  <p>
    <strong>G cidade:</strong>
    <%= a_atleta.g_cidade_id %>
  </p>

  <p>
    <strong>A unidade treinamento:</strong>
    <%= a_atleta.a_unidade_treinamento_id %>
  </p>

  <p>
    <strong>A sexo:</strong>
    <%= a_atleta.a_sexo_id %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= a_atleta.created_by %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= a_atleta.updated_by %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= a_atleta.deleted_at %>
  </p>

</div>
