<section class="login-section">
  <div class="container">
    <div class="row login-container">
      <div class="col-lg-5 col-md-6 login-info">
        <h1 class="display-6 fw-bold">Dhio</h1>
        <h2 class="mb-3">Bem-vindo de volta!</h2>
        <p class="mb-4">Acesse sua conta agora mesmo.</p>
      </div>
      <div class="col-lg-7 col-md-6 login-form">
        <div class="form-wrapper">
          <div class="text-center mb-4">
            <h2 class="fw-bold">Login</h2>
            <p class="text">Entre com suas credenciais</p>
          </div>
          <%= flash[:alert] %>
          <%= simple_form_for(resource, as: resource_name, url: user_session_path) do |f| %>
            <%= f.input :email, placeholder: "Email", input_html: { class: "form-control" } %>
            <%= f.input :password, placeholder: "Senha", input_html: { class: "form-control" } %>
            <%= f.button :submit, "Entrar", class: "btn-submit" %>
          <% end %>
          <%= link_to "Cadastrar-se",  new_user_registration_path, class: "text" %>
        </div>
      </div>
    </div>
  </div>
</div>
</section>